<div class="p40">
    <div class="form-group">
        <label for="repoName">Repo Alias</label>
        <input type="text" class="form-control" data-ng-model="repoName" id="repoName" placeholder="some-repo">
    </div>
    <div class="form-group">
        <label for="repoPath">URL</label>
        <input type="text" class="form-control" data-ng-model="repoPath" id="repoPath" placeholder="http://github.com/some/repo/path">
    </div>
    <a class="btn btn-primary" data-ng-click="addPackage()">Add Package!</a>
    <a class="btn btn-danger" data-ng-click="close()">Cancel</a>
</div>